@import 'global';

.overflow { overflow: hidden; }

.container {
  max-width: 80%;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 12px 30px;
  color: #fff;
  background: $accent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: .2s;
  width: max-content;
  border: none;
  &:hover {
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba($accent, .5);
  }
}

.btn-2 {
  padding: 16px 30px;
  background: #EBD2BD;
  border-radius: 5px;
  line-height: 1em;
}

.to-top {
  position: fixed;
  right: 10%;
  top: 61%;
  width: 48px;
  height: 48px;
  background: #EBD2BD;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  transition: .2s;
  opacity: 0;
  transform: scale(.4);
  cursor: pointer;
  &.active {
    opacity: 1;
    transform: scale(1);
  }
  i {
    font-size: 30px;
  }
}

#header {
  position: sticky;
  z-index: 30;
  padding: 20px 0;
  top: 0;
  background: #fff;
  box-shadow: 0 4px 10px rgba(#000, .1);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & .header-logo {
    font-weight: 700;
    margin: 0 40px;
  }
  & .header-menu {
    display: flex;
    align-items: center;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  & .header-user {
    span {
      cursor: pointer;
      margin-left: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#single-book {
  position: relative;
  & .single-book-image {
    width: 40%;
    position: relative;
    height: 600px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(-90deg, #fff, transparent);
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
  & .single-book-content {
    padding-top: 100px;
    margin-left: -60px;
    z-index: 2;
    h1 {
      font-size: 30px;
      margin-bottom: 15px;
    }
    & .single-book-author {
      margin-bottom: 20px;
      color: $grey;
      font-size: 14px;
      display: block;
      text-decoration: underline;
    }
    & .single-book-text {
      font-size: 14px;
      max-width: 600px;
      line-height: 1.6em;
      color: $grey;
      margin-bottom: 30px;
    }
  }
}

.catalog-books {
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  & .catalog-book {
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
    margin-bottom: 30px;
    &:hover {
      .catalog-book-img {
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        transform: translateY(-5px);
      }
    }
    &-img {
      display: block;
      width: 100%;
      height: 280px;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 15px;
      transition: .2s;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
      }
    }
    &-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    &-author {
      font-size: 12px;
      color: #b1b1b1;
      &:hover { text-decoration: underline;}
    }
  }
}

#book-chapter {
  padding-top: 100px;
  & .book-chapter-header {
    max-width: 800px;
    margin: 0 0 50px calc((100% - 800px) / 2);
    text-align: center;
    transition: .2s;
    &.active {
      margin: 0 0 50px 0;
    }
  }
  h1 {
    font-size: 24px;
    font-family: 'Spectral', serif;
  }
  h4 {
    font-size: 14px;
    color: $grey;
    margin-bottom: 15px;
  }
  & .book-chapter-content {
    max-width: 800px;
    margin-left: calc((100% - 800px) / 2);
    font-size: 18px;
    line-height: 1.8em;
    transition: .2s;
    text-align: justify;
    &.active {
      margin: 0;
    }
  }
  & .book-chapter-pagin {
    padding: 80px 0 40px;
    display: flex;
    .next {
      margin-left: auto;
    }
  }
  & .book-chapter-sidebar-toggle {
    position: fixed;
    right: 4%;
    top: 40%;
    font-size: 16px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .2s;
    &.active {
      transform: scale(.4) rotate(90deg);
      opacity: 0;
    }
  }
  & .book-chapter-sidebar {
    position: fixed;
    top: 160px;
    right: 10%;
    max-width: 255px;
    opacity: 1;
    right: -300px;
    transition: .2s;
    &.active {
      opacity: 1;
      right: 10%;
    }
  }
  & .book-chapter-page-counts {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #acacac;
  }
  & .book-chapter-sidebar-widget-chapters {
    position: fixed;
    margin: 0 !important;
    top: 0;
    left: -100%;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-bottom: 70px !important;
    border-radius: 0 0 15px 15px !important;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    opacity: 0;
    transition: .2s;
    &.active {
      opacity: 1;
      left: 0;
    }
  }
  & .book-chapter-sidebar-widget-chapters, & .book-chapter-sidebar-widget {
    padding: 24px 17px;
    background: var(--brain-main);
    border-radius: 10px;
    margin-bottom: 30px;
    h3 {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 15px;
    }
    h4 {
      font-size: 16px;
      color: #000;
      padding-top: 20px;
    }
    ul {
      li { padding-bottom: 12px; }
      a {
        font-size: 14px;
        display: block;
        width: 100%;
        padding: 4px 0;
        position: relative;
        z-index: 1;
        &:before {
          content: '';
          position: absolute;
          display: block;
          background: var(--brain-light);
          border-radius: 5px;
          width: 100%;
          height: 100%;
          left: -8px;
          top: -2px;
          padding: 2px 8px;
          box-sizing: content-box;
          opacity: .5;
          z-index: -1;
          transition: .2s;
        }
        &:hover:before {
          opacity: 1;
        }
      }
    }
  }
  & .book-chapter-sidebar-bottom {
    display: flex;
    justify-content: space-between;
    .to-top {
      position: static;
      margin-left: 10px;
    }
    .close {
      height: 48px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  & .book-chapter-sidebar-filters {
    .filter-color {
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 2px solid #000;
      margin-right: 10px;
      border-radius: 5px;
      cursor: pointer;
      &.active {
        box-shadow: 0px 0px 0px 2px rgba(#000, .25);
      }
      &.braun { background: #F4E0CF; }
      &.white { background: #fff; }
      &.dark { background: #A0A0A0; }
    }
    input[type=number] {
      border: 2px solid #000;
      display: inline-block;
      margin-right: 10px;
      background: #fff;
      font-size: 16px;
      max-width: 56px;
      border-radius: 5px;
      text-align: right;
      color: #000;
      height: 30px;
    }
  }
}

// Modal

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
  &.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    .modal-bg {
      backdrop-filter: blur(5px);
    }
  }
  & .modal-bg {
    background: rgba(#000, .2);
    transition: 2s;
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

// Register / Login

.register-form-container {
  background: #fff;
  border-radius: 5px;
  padding: 30px 60px;
  box-shadow: 0 0 0 6px rgba(#fff, .4);
  position: relative;
  h3 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
  }
  .btn {
    margin: 0 auto;
  }
  & .register-success, & .register-error {
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@import 'media';
