<div class="modal modal-register">
  <div class="register-form-container">
    <h3>Регистрация</h3>
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in register_form %}
        <div class="form-group">
          <label>
            <span>{{ field.label }}</span>
            {{ field }}
            <p class="error">success</p>
          </label>
        </div>
      {% endfor %}
      <button class="btn" type="submit">Создать</button>
    </form>
    <div class="register-success msg-success">Вы успешно зарегистрировались!</div>
    <div class="register-error msg-error">Регистрация не удалась!</div>
  </div>
</div>
